.googlelogo {
    position: relative;
    top: 15px;
}

.searchbar {
    position: relative;
    top: -20px;
    left: 30px;
    width: 700px;
    height: 40px;
    border-radius: 5px;
    border: 1px lightgray solid;
    padding: 5px 5px 5px 25px;
}

.bar {
    position:relative
    color: lightgray;
    margin-left: 160px;
}

.rezultati {
    margin-left: 160px;
    color: gray;
}

.majaslapa {
    font-size: large;
    margin-left: 160px;
    size: 100px;

}

.majaslapa2 {
    color: darkslategray;
    font-size: small;
    margin-left: 160px;
    size: 100px;
}

.saraksti {
    margin-top: 50px;
    position: relative;
    font-size: large;
    margin-left: 190px;
}

.saraksts2 {
    margin-top: -210px;
    position: relative;
    font-size: large;
    margin-left: 280px;
}