.viss {
    width: 130px;
    height: 100px;
    margin: 5px;
    background-color: black;
    display: inline-block;
}
.google {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
}