#googlelogo {
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    margin-top: 200px;
}

#googleSearch {
    display: inline-block;
    margin-left: 750px;
    margin-right: auto;
}

#feelinglucky {
    display: inline-block;
}

img, #searchbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    margin-top: 200px;
}