.links {
    width: 2%;
    height: auto;
    margin-left: 1785px;
}

.logo {
    align-content: center;
    text-align: center;
    margin-top: 200px;
    width: 15%;
    height: auto;
    margin-left: 750px;
}

.searchsize {
    align-content: center;
    text-align: center;
    width: 15%;
    height: auto;
    margin-left: 700px;
}

.search {
    align-content: left;
    margin-left: 761px;
    margin-top: 5px;
}

.lucky {
    align-content: left;
    margin-left: 2px;
    margin-top: 5px;
}

.font {
    font-size: 13px;
    margin-left: 745px;
    margin-top: 10px;
}